process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    withName: 'EXTRACT_BARCODES' {
        ext.args = "${params.print_stats ? "-s" : "" } -l ${params.log_freq}"
        ext.prefix = { "${meta.id}" }
    }

    withName: 'FILTER_FASTQ' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'FILTER_READS:SAMTOOLS_VIEW' {
        ext.args = "-b -q ${params.minimum_alignment_q_score} -F 0x004 -F 0x0008 -f 0x001"
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'FILTER_READS:SAMTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.filtered" }
    }

    withName: 'FILTER_READS:BAM_STATS_SAMTOOLS:.*' {
        ext.prefix = { "${meta.id}.target.filtered" }
    }

    withName: 'BAM_TAG_DEDUP' {
        ext.args = "${params.log_progress ? "-l" : "" } ${params.dedup ? "-d" : "" }"
        ext.prefix = { "${meta.id}" }
    }
}