params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Large test dataset to check pipeline function and timing'
    debug = true

    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    samplesheet    = 'tests/data/samplesheet_full.csv'
    chemistry      = 'hydrop' 

    // Genome references
    fasta          = '/Users/hodgett/dev/test_data/reference/references/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome.fa'
    bowtie2        = '/Users/hodgett/dev/test_data/reference/references/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index'
    blacklist      = null
}
