params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    debug = true

    // Limit resources so that this can run CI
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    fastq_read1    = 'tests/data/hydrop_scatac_1_S1_R1_001.fastq.gz'
    fastq_read2    = 'tests/data/hydrop_scatac_1_S1_R3_001.fastq.gz'
    fastq_barcodes = 'tests/data/hydrop_scatac_1_S1_R2_001.fastq.gz'

    // Genome references
    fasta          = '/Users/hodgett/dev/test_data/reference/references/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index/genome.fa'
    bowtie2        = '/Users/hodgett/dev/test_data/reference/references/Homo_sapiens/UCSC/hg38/Sequence/Bowtie2Index'
    blacklist      = null
    save_unaligned = false

    // Alignment
    fastq_valid_read1 = 'tests/data/.r1_valid.fastq.gz'
    fastq_valid_read2 = 'tests/data/.r2_valid.fastq.gz'
    save_unaligned    = false

    // bam_to_bed
    tagged_bam = 'tests/data/output.bam'
}
